@model ProblemTwo.Models.Products


<h2>Product view</h2>

<h5>Product details:</h5>
<br />
<p><strong>Id:</strong> @Model.idProduct</p>
<p><strong>Name:</strong> @Model.name</p>
<p><strong>Price:</strong> @Model.price</p>
<p><strong>Category:</strong> @Model.category</p>
<p><strong>Stock:</strong> @Model.stock</p>

